@charset "utf-8";
/* Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	border-top: 2px;
	border-bottom: 8px;
	border-right: 2px;
	border-left: 2px;
	word-break: break-all;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
strong, th {
	font-weight: normal;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	text-align: left;
}
hr, legend {
	display: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
img, fieldset {
	border: 0;
}
li {
	list-style-type: none;
}
input, select {
	vertical-align: middle;
}
/* Fonts
------------------------------------------------------------*/
body {
	font-size: 75%; /* IE */
	font-family: YuGothic, '游ゴシック', 'Meiryo UI', 'メイリオ', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ＭＳ Ｐゴシック', sans-serif;
	line-height: 100%;
}
html>/**/body {
	font-size: 12px;
}
/* clearfix
-------------------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix {
/zoom: 1
}
img {
	display: block;
}
a {
	text-decoration: none;
	color: #222;
}

input {
	outline: 0;
	/*-webkit-appearance: none;*/
}
