img {
	max-width: 100%;
	height: auto;
	width /***/: auto;
}
body {
	position: relative;
	color: #222;
	width: 100%;
	min-width: 768px;
	background: #f2f2f2;
}
#wrapper {
	width: 100%;
	min-width: 768px;
	padding: 30px 20px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relativee;
}
#wrapper:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.inner {
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}
.inner:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#contents {
	background: #f2f2f2;
	box-sizing: border-box;
	overflow: hidden;
}
#side {
	width: 300px;
	display: none;
}
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ header ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
header {
	width: 100%;
	min-width: 768px;
	background: url(../images/bg_header.png) no-repeat 10% top #FFBF00;
	background-size: 412px 76px;
	height: 76px;
	-webkit-box-shadow: inset 0 -2px 12px rgba(247,192,2,0.50);
	box-shadow: inset 0 -2px 12px rgba(247,192,2,0.50);
	box-sizing: border-box;
}
header h1 {
	width: 193px;
	height: 53px;
	position: absolute;
	left: 20px;
	padding-top: 10px;
}
header h1 img {
	width: 189px;
	height: 53px;
}
header #utility {
	position: absolute;
	right: 20px;
	padding-top: 10px;
}
header #utility ul {
	display: block;
	text-align: right;
	padding-top: 20px;
}
header #utility ul li {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	margin-left: 20px;
}
header #utility ul li.loggedin a {
	background: url(../images/icon_mypage.png) no-repeat left center;
	background-size: 13px 13px;
	padding: 1px 0 1px 20px;
	display: block;
}
header #utility ul li.logIn a {
	background: url(../images/icon_key.png) no-repeat left center;
	background-size: 13px 13px;
	padding: 1px 0 1px 22px;
	display: block;
}
header #utility ul li.membership a {
	background: url(../images/icon_man.png) no-repeat left center;
	background-size: 13px 13px;
	padding: 1px 0 1px 20px;
	display: block;
}
header #utility ul li.logout a {
	background: url(../images/icon_logout.png) no-repeat left center;
	background-size: 13px 13px;
	padding: 1px 0 1px 20px;
	display: block;
}
header #utility ul li.welcome {
	font-weight: normal;
}
header #utility ul li.welcome span {
	font-size: 120%;
	display: inline-block;
	padding: 0 2px;
	font-weight: bold;
}
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ contents ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#search {
	width: 456px;
}
#search form {
	position: relative;
	width: 456px;
	box-sizing: border-box;
	border: solid 3px #acaaa7;
}
#search form input#searchBox {
	padding: 9px 12px 8px 38px;
	border: none;
	width: 450px;
	box-sizing: border-box;
	background: #fdfdfd;
	font-size: 15px;
	line-height: 100%;
	color: #6f6d6b;
	display: block;
}
#search form input#send {
	position: absolute;
	top: 0;
	left: 10px;
	border: none;
	background: url(../images/icon_search.png) no-repeat center center;
	background-size: 18px 18px;
	width: 18px;
	height: 100%;
	cursor: pointer;
}
nav#gNav ul {
	font-size: 14px;
	margin: 20px 0;
	color: #63615f;
	background: #333;
	width: 360px;
	border-radius: 6px;
	float: left;
	overflow: hidden;
}
nav#gNav ul:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
nav#gNav ul li {
	float: left;
	width: 120px;
	line-height: 100%;
	text-align: center;
	box-sizing: border-box;
	border-right: solid 1px #ccc;
}
nav#gNav ul li:last-child {
	border-right: none;
}
nav#gNav ul li a {
	padding: 12px 0;
	color: #fff;
	display: block;
	line-height: 100%;
}
nav#gNav ul li a:hover {
	background: #397B8B;
}
nav#gNav p#button {
	position: relative;
	padding: 14px 0 14px 20px;
	cursor: pointer;
	float: left;
	text-align: center;
	width: 120px;
	margin: 17px 0 0 20px;
	box-sizing: content-box !important;
	font-size: 14px;
	line-height: 100%;
	background: url(../images/icon_question.png) no-repeat 30px center #D76B69;
	background-size: 15px 15px;
	color: #fff;
	border-radius: 6px;
}
nav#gNav p#button:hover,
nav#gNav p#button.active {
	background: url(../images/icon_question.png) no-repeat 30px center #4881CE;
	background-size: 15px 15px;
}
#questionArea {
	background: url(../images/bg_blue.png) repeat;
	line-height: 100%;
	width: 100%;
	box-sizing: border-box;
	color: #fff;
	padding: 24px 30px;
	clear: both;
	display: none;
	margin-bottom: 18px;
}
#questionArea:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#questionArea dl {
	display: table;
	margin-bottom: 19px;
	font-size: 15px;
}
#questionArea dl dt {
	display: table-cell;
	width: 88px;
	vertical-align: top;
	padding-top: 10px;
	line-height: 100%;
}
#questionArea dl dd {
	display: table-cell;
	vertical-align: top;
}
#questionArea dl dd input {
	width: 483px;
	box-sizing: border-box;
	border: solid 3px #527bb1;
	padding: 5px 10px;
	font-size: 15px;
	color: #63615f;
}
#questionArea dl dd textarea {
	width: 483px;
	box-sizing: border-box;
	border: solid 3px #527bb1;
	padding: 5px 10px;
	font-size: 15px;
	color: #63615f;
	resize: none;
}
#questionArea #file {
	margin-left: 88px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	border-radius: 4px;
	font-size: 14px;
	padding: 9px 20px;
	background: #444a59;
	float: left;
}
#questionArea #file input[type="file"] {
	margin: 0;
	font-size: 12px;
	cursor: pointer;
}
#questionArea .caution {
	font-size: 12px;
	padding: 9px 0 0 88px;
	display: block;
	clear: both;
}
#questionArea #check {
	clear: both;
	text-align: center;
	padding: 20px 0 0;
}
#questionArea input[type=checkbox] {
	display: inline-block;
	margin-right: 6px;
}
#questionArea input[type=checkbox] + label {
	position: relative;
	display: inline-block;
	margin-right: 12px;
	cursor: pointer;
}
#questionArea input[type=checkbox] {
	display: none !important;
	margin: 0;
}
#questionArea input[type=checkbox] + label {
	padding: 0 0 0 29px;
}
#questionArea input[type=checkbox] + label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 18px;
	height: 18px;
	margin-top: -10px;
	background: #d6d6d6;
	border: solid 2px #557db2;
}
#questionArea input[type=radio]:checked + label::after,
#questionArea input[type=checkbox]:checked + label::after {
	content: "";
	position: absolute;
	top: 50%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}
#questionArea input[type=radio]:checked + label::after {
	left: 3px;
	width: 6px;
	height: 6px;
	margin-top: -4px;
	background: #D02E73;
	border-radius: 8px;
}
#questionArea input[type=checkbox]:checked + label::after {
	left: 3px;
	width: 20px;
	height: 12px;
	margin-top: -8px;
	border-left: 3px solid #E71063;
	border-bottom: 3px solid #E71063;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#questionArea #emergency {
	color: #FBFF00;
	font-size: 14px;
	padding: 0 0 0 88px;
	margin: 18px 0 0 0;
	line-height: 150%;
	background: url(../images/icon_emergency.png) no-repeat 52px center;
}
#questionArea #submit {
	text-align: center;
	padding-top: 20px;
}
#questionArea #submit input {
	font-size: 15px;
	color: #fff;
	background: #315191;
	padding: 8px 0;
	width: 150px;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
#questionArea #submit input:hover {
	background: #243b6a;
}
#questionArea .clearBtn input {
	font-size: 12px;
	color: #fff;
	background: #777;
	padding: 3px 0;
	width: 40px;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
/*■■■■ emergencyArea ■■■■*/
#emergencyArea {
	clear: both;
	position: relative;
}
#emergencyArea h2 {
	font-size: 22px;
	background: url(../images/bg_orange.png) repeat;
	display: block;
	line-height: 100%;
	padding: 14px 30px;
	box-sizing: border-box;
	color: #fff;
}
#emergencyArea .btnPosts {
	position: absolute;
	top: 17px;
	right: 30px;
	font-size: 15px;
}
#emergencyArea .btnPosts a {
	padding-left: 23px;
	background: url(../images/icon_list.png) no-repeat left center;
	background-size: 14px 9px;
	color: #fff;
}
#emergencyArea .btnPosts a:hover {
	background: url(../images/icon_list_bk.png) no-repeat left center;
	background-size: 14px 9px;
	color: #111;
}
#emergencyArea ul {
	box-sizing: border-box;
	background: #fff;
	margin-top: 1px;
	color: #57573a;
	font-size: 15px;
	border-top: solid 1px #c6c3c3;
	border-left: solid 1px #c6c3c3;
	border-right: solid 1px #c6c3c3;
	border-bottom: solid 1px #ffa700;
	padding: 10px 0;
}
#emergencyArea ul li a {
	padding: 9px 30px 9px;
	color: #617592;
	display: table;
	width: 630px;
	box-sizing: border-box;
	line-height: 100%;
}
#emergencyArea ul li a:hover {
	background: #FFBF00 !important;
}
#emergencyArea ul li a:hover span {
	color: #222 !important;
}
#emergencyArea ul li:nth-child(even) {
	background: #fffdcb;
}
#emergencyArea ul li a span.postTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 400px;
	display: inline-block;
}
#emergencyArea ul li a span.date {
	color: #888772;
	font-size: 11px;
	vertical-align: middle;
	display: table-cell;
	text-align: right;
}
#emergencyArea ul li.emergency a {
	color: #222;
	font-weight: bold;
	background: url(../images/icon_help_blue.png) no-repeat 7px center;
	box-sizing: border-box;
	width: 100%;
}
#emergencyArea ul li.emergency a:hover {
	background: url(../images/icon_help_blue.png) no-repeat 7px center #FFBF00 !important;
}


/*■■■■ newPosts ■■■■*/
#newPosts {
	clear: both;
	position: relative;
	margin-top: 20px;
}
#newPosts h2 {
	font-size: 22px;
	background: url(../images/bg_blue.png) repeat;
	display: block;
	line-height: 100%;
	padding: 14px 30px;
	box-sizing: border-box;
	color: #fff;
}
#newPosts .btnPosts {
	position: absolute;
	top: 17px;
	right: 30px;
	font-size: 15px;
}
#newPosts .btnPosts a {
	padding-left: 23px;
	background: url(../images/icon_list.png) no-repeat left center;
	background-size: 14px 9px;
	color: #fff;
}
#newPosts .btnPosts a:hover {
	background: url(../images/icon_list_bk.png) no-repeat left center;
	background-size: 14px 9px;
	color: #111;
}
#newPosts ul {
	box-sizing: border-box;
	background: #fff;
	margin-top: 1px;
	color: #617592;
	font-size: 15px;
	border-top: solid 1px #c6c3c3;
	border-left: solid 1px #c6c3c3;
	border-right: solid 1px #c6c3c3;
	border-bottom: solid 1px #5f87b8;
}
#newPosts ul li a {
	padding: 9px 30px 9px;
	color: #617592;
	display: table;
	width: 100%;
	box-sizing: border-box;
	line-height: 100%;
}
#newPosts ul li a:hover {
	background: #FFBF00 !important;
}
#newPosts ul li a:hover span {
	color: #222 !important;
}
#newPosts ul li:first-child a {
	padding: 18px 30px 9px;
}
#newPosts ul li:last-child a {
	padding: 9px 30px 18px;
}
#newPosts ul li:nth-child(even) {
	background: #ebf2fb;
}
#newPosts ul li a span.postTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 400px;
	display: inline-block;
}
#newPosts ul li a span.date {
	color: #8e97aa;
	font-size: 11px;
	vertical-align: middle;
	display: table-cell;
	text-align: right;
}
#newPosts ul li.emergency a {
	color: #222;
	font-weight: bold;
	background: url(../images/icon_help_blue.png) no-repeat 7px center;
	box-sizing: border-box;
	width: 100%;
}
#newPosts ul li.emergency a:hover {
	background: url(../images/icon_help_blue.png) no-repeat 7px center #FFBF00 !important;
}
/*■■■■ answer ■■■■*/
#answer {
	clear: both;
	margin-top: 20px;
	position: relative;
}
#answer h2 {
	font-size: 22px;
	background: url(../images/bg_red.png) repeat;
	display: block;
	line-height: 100%;
	padding: 14px 30px;
	box-sizing: border-box;
	color: #fff;
}
#answer .btnPosts {
	position: absolute;
	top: 17px;
	right: 30px;
	font-size: 15px;
}
#answer .btnPosts a {
	padding-left: 23px;
	background: url(../images/icon_list.png) no-repeat left center;
	background-size: 14px 9px;
	color: #fff;
}
#answer .btnPosts a:hover {
	background: url(../images/icon_list_bk.png) no-repeat left center;
	background-size: 14px 9px;
	color: #111;
}
#answer ul {
	box-sizing: border-box;
	background: #fff;
	margin-top: 1px;
	color: #876e6e;
	font-size: 15px;
	border-top: solid 1px #c6c3c3;
	border-left: solid 1px #c6c3c3;
	border-right: solid 1px #c6c3c3;
	border-bottom: solid 1px #cb756e;
}
#answer ul li a {
	padding: 9px 30px 9px;
	color: #876e6e;
	display: table;
	width: 100%;
	box-sizing: border-box;
	line-height: 100%;
}
#answer ul li a:hover {
	background: #FFBF00 !important;
}
#answer ul li a:hover span {
	color: #222 !important;
}
#answer ul li:first-child a {
	padding: 18px 30px 9px;
}
#answer ul li:last-child a {
	padding: 9px 30px 18px;
}
#answer ul li:nth-child(even) {
	background: #fcf2f8;
}
#answer ul li a span.postTitle {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 400px;
	display: inline-block;
}
#answer ul li a span.date {
	color: #aa949f;
	font-size: 11px;
	vertical-align: middle;
	display: table-cell;
	text-align: right;
}
#answer ul li.emergency a {
	color: #222;
	font-weight: bold;
	background: url(../images/icon_help_blue.png) no-repeat 7px center;
	box-sizing: border-box;
	width: 100%;
}
#answer ul li.emergency a:hover {
	background: url(../images/icon_help_blue.png) no-repeat 7px center #FFBF00 !important;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ detail ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#detail {
	background: #fff;
	box-sizing: border-box;
	padding: 30px 25px;
	position: relative;
	border-bottom: solid 3px #ACAAA7;
}
#detail .detailArea {
	font-size: 15px;
	line-height: 200%;
	overflow: hidden;
	color: #393a40;
	position: relative;
	border-bottom: solid 2px #fff774;
	padding-bottom: 10px;
	margin-bottom: 20px;
	width: 100%;
}
#detail .detailArea .user {
	font-size: 12px;
	padding: 2px 0 2px 20px;
	background: url(../images/icon_user.png) no-repeat left top;
	background-size: 11px 16px;
	line-height: 100%;
}
#detail .detailArea .user .userName {
	font-size: 16px;
}
#detail .detailArea .date {
	text-align: right;
	color: #aaa;
	font-size: 14px;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 110%;
}
#detail .detailArea h2 {
	font-size: 22px;
	margin: 20px 0 30px;
	line-height: 140%;
	color: #6e9bd4;
	border-bottom: solid 2px #fff774;
	padding-bottom: 3px;
}
#detail .detailArea .img {
	padding: 20px 0;
}
#detail .detailArea .img img {
	width: 100%;
}
#detail .commentList dl {
	border-bottom: dotted 2px #ccc;
	padding: 20px;
	box-sizing: border-box;
	background: #fafafa;
	clear: both;
}
#detail .commentList dl:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#detail .commentList dl:first-child {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#detail .commentList dl dt {
	color: #aaa;
	font-size: 14px;
	line-height: 110%;
	padding-bottom: 10px;
}
#detail .commentList dl dd.user {
	font-size: 12px;
	padding: 2px 0 2px 20px;
	background: url(../images/icon_user.png) no-repeat left top;
	background-size: 11px 16px;
	line-height: 100%;
	margin-bottom: 20px;
}
#detail .commentList dl dd.user .userName {
	font-size: 16px;
}
#detail .commentList dl dd.commentText {
	font-size: 15px;
	line-height: 200%;
	color: #666;
}
#detail .commentList dl dd.iine {
	float: right;
	width: 95px;
	height: 30px;
	overflow: hidden;
	margin-top: 5px;
	cursor: pointer;
}
#detail .commentList dl dd.iine img {
	width: 95px;
	height: 60px;
}
#detail .commentList dl dd.iine:hover img {
	margin-top: -30px;
}
#commentArea {
	clear: both;
	margin-top: 18px;
	background: #fff;
	box-sizing: border-box;
	padding: 30px 25px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: solid 3px #ACAAA7;
}
#commentArea dl dt {
	font-size: 20px;
	color: #888;
	padding-bottom: 18px;
}
#commentArea dl dd.myName {
	font-size: 14px;
	padding: 2px 0 2px 20px;
	background: url(../images/icon_user.png) no-repeat left top;
	background-size: 11px 16px;
	line-height: 100%;
	margin-bottom: 20px;
}
#commentArea dl dd textarea {
	width: 100%;
	border: solid 1px #ccc;
	border-radius: 6px;
	box-sizing: border-box;
	padding: 10px 15px;
	resize: none;
	font-family: YuGothic, '游ゴシック', 'Meiryo UI', 'メイリオ', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ＭＳ Ｐゴシック', sans-serif;
	background: #fafafa;
}
#commentArea .commentSend {
	text-align: center;
	padding-top: 20px;
}
#commentArea .commentSend input {
	font-size: 15px;
	color: #fff;
	background: #444;
	padding: 8px 0;
	width: 150px;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
#commentArea .commentSend input:hover {
	background: #222;
}
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ otherCont ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#otherCont {
	background: #fff;
	box-sizing: border-box;
	position: relative;
	border-bottom: solid 3px #ACAAA7;
}
#otherCont h2 {
	text-align: center;
	font-size: 22px;
	line-height: 100%;
	color: #fff;
	padding: 13px 30px;
	background: #4881CE;
}
#otherCont .otherContInner {
	box-sizing: border-box;
	padding: 30px 25px;
	position: relative;
	font-size: 13px;
	line-height: 170%;
}
#otherCont .otherContInner h3 {
	font-size: 16px;
	font-weight: bold;
	padding: 20px 0 3px;
	border-bottom: solid 3px #fff774;
	margin-bottom: 16px;
}
#otherCont .otherContInner h3:first-child {
	padding: 0 0 3px;
}
#otherCont .otherContInner h4 {
	font-weight: bold;
	font-size: 15px;
	padding: 18px 0 6px;
	color: #4881CE;
}
#otherCont .otherContInner .last {
	padding-top: 20px;
	text-align: right;
}
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ side ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#side #app {
	width: 300px;
}
#side #app h3 img {
	width: 300px;
}
#side #app #appInner {
	box-sizing: border-box;
	border: solid 1px #c6c3c3;
	min-height: 350px;
	background: url(../images/elephant.jpg) no-repeat right bottom #fff;
	padding: 15px 0 0;
	font-size: 13px;
	color: #8a8988;
}
#side #app #appInner h3 {
	width: 270px;
	margin: 0 auto;
}
#side #app #appInner h3 img {
	width: 270px;
}
#side #app #appInner p {
	width: 270px;
	padding: 15px;
	line-height: 150%;
}
#side #app #appInner ul {
	display: block;
	text-align: center;
}
#side #app #appInner ul li {
	display: inline-block;
	padding: 0 3px;
	width: 129px;
}
#side #app #appInner ul li img {
	width: 129px;
}
#side #app #appInner ul li a:hover img {
	opacity: 0.7;
}
#side ul#bnrArea li {
	margin-top: 18px;
}
#side ul#bnrArea li a:hover img {
	opacity: 0.7;
}
#side #keyWord {
	margin-top: 18px;
	position: relative;
}
#side #keyWord h3 img {
	width: 300px;
}
#side #keyWord .update {
	position: absolute;
	top: 18px;
	right: 12px;
	font-size: 13px;
	color: #e7e7e7;
	font-family: Arial, Helvetica, sans-serif;
}
#side #keyWord ul {
	box-sizing: border-box;
	border: solid 1px #c6c3c3;
	font-size: 15px;
	color: #6f6d6b;
	background: #fff;
}
#side #keyWord ul a {
	color: #6f6d6b;
}
#side #keyWord ul li {
	padding: 12px 8px;
}
#side #keyWord ul li:nth-child(even) {
	background: #ebf2fb;
}
#side #keyWord ul li a:hover {
	color: #FEA600;
}
#side #keyWord ul li span {
	display: inline-block;
	color: #fff;
	font-weight: bold;
	padding: 8px 0;
	width: 28px;
	text-align: center;
	background: #76be9d;
	border-radius: 5px;
	margin-right: 12px;
}
#side #keyWord ul li.no01 span {
	background: #ffc740;
}
#side #keyWord ul li.no02 span {
	background: #c1c9d6;
}
#side #keyWord ul li.no03 span {
	background: #c0a778;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ mypage ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#mypage {
	width: 720px;
	margin: 0 auto;
	box-sizing: border-box;
	background: #fff;
	border-radius: 4px;
}
#mypage h2 {
	padding: 12px 0;
	font-size: 20px;
	text-align: center;
	line-height: 100%;
	color: #fff;
	background: #5dca98;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#mypage #myPageInner {
	padding: 20px 30px 30px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background: url(../images/elephant.jpg) no-repeat right bottom;
	min-height: 200px;
}
#mypage #myPageInner form {
	font-size: 15px;
	line-height: 180%;
}
#mypage #myPageInner form input[type="text"] , input[type="password"] {
	box-sizing: border-box;
	border: solid 2px #527bb1;
	background: #fafafa;
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 6px;
	color: #63615f;
}
#mypage #myPageInner form dl dt {
	font-size: 17px;
	padding:10px 0 4px;
	color: #666;
}
#mypage #myPageInner form dl dd {
	padding-bottom: 8px;
}
#mypage #myPageInner form .note {
	font-size: 14px;
	padding: 2px 0 6px;
	color: #888;
}
#mypage #myPageInner form #submit {
	padding: 5px 0 10px;
}
#mypage #myPageInner form #submit input {
	font-size: 15px;
	color: #fff;
	background: #5dca98;
	padding: 8px 0;
	width: 150px;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
#mypage #myPageInner form #submit input:hover {
	background: #3eba81;
}
#mypage #myPageInner form #check {
	clear: both;
	padding: 0 0 18px;
}
#mypage #myPageInner form input[type=checkbox] {
	display: inline-block;
	margin-right: 6px;
}
#mypage #myPageInner form input[type=checkbox] + label {
	position: relative;
	display: inline-block;
	margin-right: 12px;
	cursor: pointer;
}
#mypage #myPageInner form input[type=checkbox] {
	display: none !important;
	margin: 0;
}
#mypage #myPageInner form input[type=checkbox] + label {
	padding: 0 0 0 29px;
}
#mypage #myPageInner form input[type=checkbox] + label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 18px;
	height: 18px;
	margin-top: -10px;
	background: #fafafa;
	border: solid 2px #557db2;
}
#mypage #myPageInner form input[type=radio]:checked + label::after,
#mypage #myPageInner form input[type=checkbox]:checked + label::after {
	content: "";
	position: absolute;
	top: 50%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}
#mypage #myPageInner form input[type=radio]:checked + label::after {
	left: 3px;
	width: 6px;
	height: 6px;
	margin-top: -4px;
	background: #D02E73;
	border-radius: 8px;
}
#mypage #myPageInner form input[type=checkbox]:checked + label::after {
	left: 3px;
	width: 20px;
	height: 12px;
	margin-top: -8px;
	border-left: 3px solid #E71063;
	border-bottom: 3px solid #E71063;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#mypage #forget {
	padding-top: 8px;
}
#mypage #forget a {
	color: #D02E73;
}
#mypage #pwText {
	font-size: 14px;
	line-height: 180%;
}
.mt15 {
	margin-top: 15px;
}

#mypage h2 {
	position: relative;
}
#mypage h2 span.mini {
	font-size: 15px;
}
#mypage h2 span#account {
	position: absolute;
	right: 84px;
	font-size: 14px;
	line-height: 100%;
}
#mypage h2 span#account a {
	display: block;
	border: solid 1px #fafafa;
	color: #fff;
	padding: 3px 6px 4px;
}
#mypage h2 span#account a:hover {
	background: #84d5b0;
}
#mypage h2 span#editing {
	position: absolute;
	right: 30px;
	font-size: 14px;
	line-height: 100%;
}
#mypage h2 span#editing a {
	display: block;
	border: solid 1px #fafafa;
	color: #fff;
	padding: 3px 6px 4px;
}
#mypage h2 span#editing a:hover {
	background: #84d5b0;
}
#mypage #yourPage {
	padding: 10px 30px 30px 30px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #fff;
}
#mypage #yourPage #perfection {
	height: 124px;
	background:url(../images/fig.png) no-repeat 30px center #FAFAFA;
	padding: 20px 0 20px 170px;
	position: relative;
	margin: 20px 0;
	text-align: right;
}
#mypage #yourPage #perfection .upDate {
	font-size: 13px;
	text-align: right;
	color: #aaa;
	padding: 0 20px 0 0;
}
#mypage #yourPage #perfection #percent {
	text-align: right;
	padding: 62px 20px 0 0;
	font-size: 18px;
	color: #8b8a85;
	line-height: 100%;
}
#mypage #yourPage #perfection #percent strong {
	font-size: 100px;
	font-weight: bold;
	color: #5fa6ca;
	padding-left: 10px;
}
#mypage #yourPage #perfection #percent span {
	font-size: 50px;
	font-weight: bold;
	padding-left: 5px;
}
#mypage #yourPage dl {
	width: 100%;
	box-sizing: border-box;
	position: relative;
	font-size: 14px;
	line-height: 140%;
	border-bottom: solid 1px #eaeaea;
}
#mypage #yourPage dl#newPw {
	border-bottom: double 3px #eaeaea;
}
#mypage #yourPage dl:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#mypage #yourPage dl dt {
	width: 30%;
	float: left;
	clear: both;
	position: relative;
	padding: 13px 0 13px 10px;
	box-sizing: border-box;
}
#mypage #yourPage dl dd {
	width: 70%;
	float: left;
	position: relative;
	padding: 13px 0 13px 10px;
	box-sizing: border-box;
	font-weight: bold;
}
#mypage #yourPage dl dd span {
	font-weight: normal;
	font-size: 90%;
}
#mypage  #yourPage input[type="text"] , input[type="password"] {
	box-sizing: border-box;
	border: solid 2px #527bb1;
	background: #fafafa;
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 6px;
	color: #63615f;
	width: 90%;
}
#mypage #yourPage .note {
	font-size: 14px;
	padding: 2px 0 6px;
	color: #888;
}
#mypage #yourPage dl dd select {
	border: solid 1px #aaa;
	padding: 4px;
	font-size: 13px;
	color: #555;
	border-radius: 4px;
}
#mypage #yourPage #submit {
	text-align: center;
	padding-top: 20px;
}
#mypage #yourPage #submit input {
	font-size: 15px;
	color: #fff;
	background: #315191;
	padding: 8px 0;
	width: 150px;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
#mypage #yourPage #submit input:hover {
	background: #243b6a;
}
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ supporter ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#supporter {
	width: 100%;
	min-width: 768px;
	background: #fff;
	padding: 30px 0 40px;
	clear: both;
}
#supporter h3 {
	font-size: 22px;
	color: #636160;
	display: inline-block;
}
#supporter ul {
	margin: 20px 0 0;
	padding: 15px 0;
	border-top: solid 1px #e4e4e4;
	border-bottom: solid 1px #e4e4e4;
}
#supporter ul li {
	display: inline-block;
	padding: 10px 12px;
}
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ footer ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
footer {
	width: 100%;
	min-width: 768px;
	background: #fff;
	padding: 0 0 50px;
	font-size: 13px;
	clear: both;
}
footer nav ul li {
	display: inline-block;
}
footer nav ul li a {
	color: #63615f;
}
footer nav ul li a:hover {
	text-decoration: underline;
}
footer h2 {
	clear: both;
	padding-top: 20px;
}
footer #gSign {
	position: absolute;
	top: 0;
	right: 20px;
}
footer p {
	text-align: right;
	color: #63615f;
	font-size: 14px;
	margin-top: -14px;
}
/*popup*/
* html .layer_board_bg, * html .layer_board {
	position: absolute;
}
.layer_board_bg {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	/*cursor: pointer;*/
	background: #000;
}
.layer_board {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -200px 0px 0px -360px;
	text-align: center;
	z-index: 2000;
	cursor: pointer;
}
.layer_board .close {
	width: 100%;
	position: relative;
	z-index: 99999;
	top: -40px;
}
.layer_board .close img {
	position: absolute;
	right: 0;
}
.layer_board #mypage h3 {
	font-size: 18px;
	text-align: center;
	line-height: 1.8;
	padding-top: 15px;
}
.layer_board #mypage h3 img {
	text-align: center;
	display: inline-block;
	padding-top: 15px;
}
/*popup*/
* html .layer_board_bg, * html .layer_board {
	position: absolute;
}
.layer_board_bg {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	/*cursor: pointer;*/
	background: #000;
}
.layer_board {
	display: none;
	position: fixed;
	left: 50%;
	top: 0%;
	margin: 100px 0px 0px -390px;
	text-align: center;
	z-index: 2000;
	cursor: pointer;
}

.layer_board .close {
	width: 100%;
	position: relative;
	z-index: 99999;
	top: -40px;
}
.layer_board .close img {
	position: absolute;
	right: 0;
}
.layer_board #mypage h3 {
	font-size: 18px;
	text-align: center;
	line-height: 1.8;
	font-weight: bold;
}
.layer_board #mypage h3 img {
	text-align: center;
	display: inline-block;
	padding-top: 15px;
}

/* popup */
#popup {
	width: 780px;
	margin: 0 auto;
	background: #fff;
	border-radius: 4px;
	position: relative;
}

#popup h2 {
	padding: 12px 0;
	font-size: 20px;
	text-align: center;
	line-height: 100%;
	color: #fff;
	background: #5dca98;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#popup h3 {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0 15px;
}
#popup #popupInner {
	width: 100%;
	box-sizing: border-box;
	padding: 20px 15px 30px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	/*background: url(../images/elephant.jpg) no-repeat right bottom;*/
	min-height: 200px;
}
#popup #popupInner:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
#popUpLeft {
	display: block;
	float: left;
	width: 49%;
	position: relative;
	border: solid 1px #ddd;
	box-sizing: border-box;
	padding: 10px 10px 25px;
	border-radius: 5px;
}
#popUpRignt {
	display: block;
	float: right;
	width: 49%;
	position: relative;
	border: solid 1px #ddd;
	box-sizing: border-box;
	padding: 10px 10px 20px;
	border-radius: 5px;
}
#popup #popupInner form {
	font-size: 15px;
	line-height: 180%;
}
#popup #popupInner form input[type="text"] {
	box-sizing: border-box;
	border: solid 2px #527bb1;
	background: #fafafa;
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 6px;
	color: #63615f;
	width: 90%;
}
#popup #popupInner form dl dt {
	font-size: 17px;
	padding:10px 0 4px;
	color: #666;
	text-align: center;
}
#popup #popupInner form dl dd {
	padding-bottom: 8px;
	text-align: center;
}
#popup #popupInner form .note {
	font-size: 14px;
	padding: 2px 0 6px;
	color: #888;
}
#popup #popupInner form #submit {
	padding: 5px 0 10px;
}
#popup #popupInner form #submit input {
	font-size: 15px;
	color: #fff;
	background: #5dca98;
	padding: 8px 0;
	width: 150px;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
#popup #popupInner form #submit input:hover {
	background: #3eba81;
}
#popup #popupInner form #check {
	clear: both;
	padding: 0 0 18px;
}
#popup #popupInner form input[type=checkbox] {
	display: inline-block;
	margin-right: 6px;
}
#popup #popupInner form input[type=checkbox] + label {
	position: relative;
	display: inline-block;
	margin-right: 12px;
	cursor: pointer;
}
#popup #popupInner form input[type=checkbox] {
	display: none !important;
	margin: 0;
}
#popup #popupInner form input[type=checkbox] + label {
	padding: 0 0 0 29px;
}
#popup #popupInner form input[type=checkbox] + label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 18px;
	height: 18px;
	margin-top: -10px;
	background: #fafafa;
	border: solid 2px #557db2;
}
#popup #popupInner form input[type=radio]:checked + label::after,
#popup #popupInner form input[type=checkbox]:checked + label::after {
	content: "";
	position: absolute;
	top: 50%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}
#popup #popupInner form input[type=radio]:checked + label::after {
	left: 3px;
	width: 6px;
	height: 6px;
	margin-top: -4px;
	background: #D02E73;
	border-radius: 8px;
}
#popup #popupInner form input[type=checkbox]:checked + label::after {
	left: 3px;
	width: 20px;
	height: 12px;
	margin-top: -8px;
	border-left: 3px solid #E71063;
	border-bottom: 3px solid #E71063;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#popup #popupInner #forget {
	padding-top: 8px;
}
#popup #popupInner #forget a {
	color: #D02E73;
}
#popup #popupInner #pwText {
	font-size: 14px;
	line-height: 180%;
}